
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Username", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Username", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Password("Password", "", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Student")
                @Html.RadioButton("LogType", "Student", true)
                @Html.Label("Admin")
                @Html.RadioButton("LogType", "Admin")
                @Html.Label("SAdmin")
                @Html.RadioButton("LogType", "SAdmin")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="LOGIN" class="btn btn-default" onclick="return Validate();" />
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>
        function Validate() {
            var usn = $("#Username").val;
            var pwd = $("#Password").val;

            if (usn == null || pwd == null) {
                alert("Some fields is blank !");
                return false;
            }
            return true;
        }
    </script>
}

